.agents-item {
  width: 25%;
  float: left;
}
.reset {
  background: red;
  color: white;
}
.mb-filter-bot {
  padding-bottom: 14px;
}
.mb-filter-rg {
  padding: 0 0 0 10px;
}
.mb-filter-top {
  padding-top: 11px;
}
.mb-filter-top-drop {
  padding-top: 14px;
}
.dropdown-menu-rx {
  width: 100%;
}
/*@media (max-width: 320px) {*/
  /*.caret-right {*/
    /*padding-right: 167px;*/
  /*}*/
/*}*/
/*.caret-right-l {*/
  /*padding-right: 198px;*/
/*}*/
.page-title-rx {
  background-color: #fff;
  box-shadow: 0 0 3px rgba(50, 50, 50, 0.2);
  margin: 0 0 0 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 10; }
.page-title-rx h1 {
  color: #F74949;
  font-size: 20px;
  font-weight: 400;
  float: left;
  line-height: 60px;
  margin: 0;
  padding: 0; }
.page-title-rx h1 small {
  color: #b2b2b2;
  font-size: 15px;
  font-weight: 400; }
.page-title-rx .switcher {
  border-right: 1px solid #eeeeee;
  float: right;
  margin: 14px 20px 0 0;
  padding: 0 20px 0 0; }
.page-title-rx .switcher:first-child {
  border-right: 0;
  margin-right: 0;
  padding-right: 0; }

.header-logo-rx {
  float: left;
  /* line-height: 60px; */
  margin: 32px 20px 0 0;
}
.header-logo-rx img{
  margin: -31px 10px 0 0;
  max-height: 37px;
  vertical-align: middle;
  width: auto;
}
.text-footer p{
  color:#fff;
}
.sort-options-rx a{
  padding: 6px 28px;
  border: 1px solid #dadee2;
  font-size: 12px;
}
.filter-rx {
    margin: 0;
}
.sort-options-rx ul{
  background-color: transparent;
}
.sort-options-rx img{
  height: 21px;
  width: 19px;
}
.price-size {
  font-size: 12px;
}
.filter-boxed-rx {
  padding: 13px 14px 0 16px;
  margin-top: 12px;

}
.text-logo {
  padding: 40px 0 0 0;
}
.footer-image-background {
  background-image: url(/static/assets/img/remax_footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}
.footer-image{
  padding: 0;
}
.baner-image {
	width: 100%;
}
.background-search {
  background-color: transparent;
  border: 0;
  margin-bottom: 0;
  margin-top: 0;
  box-shadow: 0 0 20px #c3bfbf;
}
.background-button-search {
  background-color: rgba(247, 73, 73, 0.61);
}
.image-gallery-top {
  padding: 0;
}
.image-baner-gallery img {
  height: 285px;
  width: 100%;
}
@media (max-width: 700px) {
  .image-baner-gallery img {
    height: 100px;
    width: 100%;
  }
}
.text-in-image {
    background-color: #E21A22;
    bottom: 60px;
    color: #fff;
    display: block;
    font-size: 18px;
    padding: 3px;
    left: 0;
    opacity: 0.8;
    border-radius: 2px;
    margin: 0;
    position: absolute;
}
.text-in-image-2 {
    background-color: #0275d8;
    bottom: 13px;
    color: #fff;
    display: block;
    font-size: 18px;
    padding: 3px;
    left: 0;
    opacity: 0.8;
    margin: 0;
    border-radius: 2px;
    position: absolute;
}
.breadcrumb-rm {
    background-color: transparent;
    border-radius: 0;
    font-size: 12px;
    margin: 9px 0 36px -1px;
    padding-left: 0;
    padding-right: 0;
  }
.btn-primary-rx {
  background-color: #fff;
  color: #000;
  text-align: left;
  border: 1px solid #d7d7d7;
}
.text-rx-dropdown {
  font-size: 14px;
  color: #353535;
}
@media (min-width: 576px){
  .form-inline .form-control-rx {
      display: inline-block;
      width: 14%;
      vertical-align: middle;
    }
}
.form-control-rx {
  background-color: #fff;
  /*border-radius: 2px;*/
  border-color: #e5e5e5;
    height: 35px  ;
  font-size: 13px;
  line-height: 35px;
  padding: 0 12px;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.as {
  height: 38px;
}
.asz {
  height: 39px;
}
.form-control-rx::placeholder {
  color: #c1c1c1;
}
.icon-maps {
  margin: 0 0 0 0;
  border: 1px solid #c1c1c1;
  padding: 15px 9px 2px 2px;
}
.icon-maps-img {
  width: 21px;
  height: 22px;
  position: center;
  margin: -18px 0 1px 7px;
}
.rx-1 {
  flex: 0 0 8.33333%;
  max-width: 9.33333%;
}
.scrollbar {
    margin-left: 0;
    float: left;
    height: 850px;
    width: 50%;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}
.force-overflow
{
  min-height: 450px;
}
.map-rx {
  height:850px;
  width:50%;
  float:right;
}
.card-list {
  background-color: #fff;
  padding: 2px;
}
.listing-row-content-read-more-rx {
  font-weight: 600;
  text-align: left;
  margin: 0 0 0 0;
}
.listing-row-content-read-more-rx p{
  color:red;
  font-size: 11px;
  font-weight:bold;
}
.img-icon {
  width: 22px;
  height: 21px;
}
.listing-row-content-meta-item-rx {
  color: #7f7f7f;
  float: left;
  font-size: 12px;
  /* margin: 0 6px 0 0; */
  /* padding: 0 55px 0px 0; */
  min-width: 25%;
}
.listing-row-content-meta-rx {
  /*border-top: 1px solid rgba(0, 0, 0, 0.06);*/
  margin: 16px 0 0 0;
  padding: -1px 0 0 0;
}
.listing-row-inner-rx {
  box-shadow: rgba(0, 0, 0, 0.2) 2px 3px 5px 0;
  border-radius: 3px;
  margin-top: 6px;
}
.text-street {
  padding-top: 12px;
}
.listing-row-content-body-rx {
  /*border-top: 1px solid rgba(0, 0, 0, 0.06);*/
  color: #7f7f7f;
  margin: 8px 0 0 0;
  padding: 16px 0 0 0;
}
.listing-row-content-body-rx h6{
  /*border-top: 1px solid rgba(0, 0, 0, 0.06);*/
  font-size:12px;
}
.price-listing-rent {
  position: absolute;
  background-color: #3a7de3;
  margin: 11px 0 0 0;
  padding: 0 47px 0 0;
}
.price-listing-sale {
  position: absolute;
  background-color: #e21a22;
  margin: 11px 0 0 0;
  padding: 0 47px 0 0;
}
.text-price {
  font-size: 12px;
  text-align: right;
  color: white;
  font-weight: bold;
  margin: 1px -42px 1px 44px;
}
.price-rx {
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
}
/*.wrapper-main-agent {*/
  /*width: 100%;*/
  /*background-color: white;*/
/*}*/
/*.content-main-agent {*/
  /*padding: 100px 8% 165px;*/
  /*margin: auto;*/
/*}*/
.caption {
  position: absolute;
  opacity: 0.8;
  top: 51%;
  width: 100%;
  text-align: center;
  color: white;
}
.about-title {
  background-color: #E21A22;
  opacity: 0.7;
  color: white;
  padding: 18px;
  letter-spacing: 10px;
  font-size: 18px;
  border: 2px;
  border-radius: 10px;
}
@media (max-width: 810px)  {
  .caption {
    position: relative;
    opacity: 0.8;
    top: 51%;
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 113px;
  }
  .about-title {
    background-color: #E21A22;
    opacity: 1.7;
    color: white;
    padding: 18px;
    letter-spacing: 5px;
    font-size: 13px;
    border: 2px;
    border-radius: 10px;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.price-listing-properties {
  font-size: 15px;
  text-align: right;
  color: rgb(226, 26, 34);
  float:right;
  font-weight: bold;
}
.parallax {
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /*margin-top: -100px;*/
}
.box-rx {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(50, 50, 50, 0.12);
  border-radius: 2px;
  margin: -578px 0 30px 0;
  padding: 111px;
}
.wrapper-main-agent {
  width: 100%;
  background-color: white;
}
.content-main-agent {
  padding: 35px 8%;
  margin: auto;
}
.content-main-agent h4{
  color: #E21A22;
}
.price-tag {
  padding: 0 0 0 0;
  margin:0 0 0 0;
  position: absolute;
}
.information-tex {
  font-weight: bold;
}
.listing-box-attributes-icons-rx {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  padding: 17px 0 0 0;
}
.listing-box-attributes-icons-rx ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.listing-box-attributes-icons-rx li {
  color: #7f7f7f;
  display: inline-block;
  margin: 0 15px 0 0;
}
.title-detail-text {
  font-weight: bold;
  color: #000;
}
.search-input {
  padding: 0 12px;
}
.list-group-item-rx {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0.75rem 0.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.detail-price {
  color: #FF0000;
  font-weight: bold;
  font-size: 30px;
}
.detail-breadcrumb {
  background-color: transparent;
  border-radius: 0;
  font-size: 12px;
  margin: -40px 0 40px 0;
  padding: 0.75rem 1rem 0 0;
  list-style: none; }
.detail-sale {
  font-size: 20px;
  color: #fff;
  background-color: #FF0000;
  padding: 8px 9px 8px 9px;
}
.detail-rent {
  font-size: 20px;
  color: #fff;
  background-color: #195fff;
  padding: 8px 9px 8px 9px;
}
.reset-feature {
  width: 100%;
  background: #ff0000;
}
.reset-feature:hover{
  width: 100%;
  background: #ff0000;
  color: #fff;
    }
.no-pad-rx {
  padding: 0;
}
@media (max-width: 1366px) {
  .no-pad-rx-reset {
    padding: 0 3px 0px 2px;
  }
}
.caret-desk {
  padding-right: 22px;
}
.bot-filter {
  margin-bottom: -15px;
  margin-right: 0;
  margin-left: 0;
}
.form-lg-2 {
  flex: 0 0 25%;
  max-width: 20%;
}
.form-md{
  max-width: 14.5%;
}
.form-xs{
  max-width: 2.7%;
}
@media (max-width: 1367px) {
  .form-xs {
    max-width: 3.2%;
  }
}
.form-xs-icon {
  max-width: 3.5599%;
}
.icon-rx-prop img{
  width: 100px;
  padding: 9px 16px 7px 16px;
  height: 38px;
}
.control-form-rx {
  padding: 8px 5px;
}
.control-form-rs {
  padding: 18px 12px;
}
.error-properties {
  opacity: 1;
  z-index: 999999999;
  background: #ffffff;
  padding: 301px 0 0 0;
  height: 100%;
  position: absolute;
}
.error-properties img{
}
.loading {
  opacity: 0.7;
  z-index: 2147483647;
  background: #ffffff;
  padding: 301px 0 0 0;
  height: 100%;
  position: absolute;
}
.loading img {
}
.loadingDetail {
  /*opacity: 0.7;*/
  z-index: 2147483647;
  background: #FFFFFF;
  padding: 383px 0 0 65px;
  height: 100%;
  position: absolute;
}
.loadingDetail img {
  margin: 0 0 0 79px;
}
.loadingDetail p{
  color: #000;
}
.text-loading p{
  font-size: 16px;
  font-weight:bold;
  text-align: center;
  color: rgb(0, 0, 0);
}
.text-error p{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.text-error span {
  font-size: 12px;
  font-weight:bold;
}
.scroll-grid {
  overflow: scroll;
  height: 100%;
  width: 100%;
  padding-top: 10px;
  /* position: absolute; */
  position: absolute;
}
.scroll-grid::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.scroll-grid::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.scroll-grid::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0 none #ffffff;
  border-radius: 46px;
}
.scroll-grid::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
.scroll-grid::-webkit-scrollbar-thumb:active {
  background: #ffffff;
}
.scroll-grid::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0 none #ffffff;
  border-radius: 38px;
}
.scroll-grid::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
.scroll-grid::-webkit-scrollbar-track:active {
  background: #ffffff;
}
.scroll-grid::-webkit-scrollbar-corner {
  background: transparent;
}
.scroll-detail {
  overflow: scroll;
  height: 100%;
  width: 100%;
  padding-top: 10px;
}
.scroll-detail::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.scroll-detail::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.scroll-detail::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0 none #ffffff;
  border-radius: 46px;
}
.scroll-detail::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
.scroll-detail::-webkit-scrollbar-thumb:active {
  background: #ffffff;
}
.scroll-detail::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0 none #ffffff;
  border-radius: 38px;
}
.scroll-detail::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
.scroll-detail::-webkit-scrollbar-track:active {
  background: #ffffff;
}
.scroll-detail::-webkit-scrollbar-corner {
  background: transparent;
}

.scroll-list {
  overflow: scroll;
  height: 912px;
  width: 100%;
  padding-top: 10px;
}
.scroll-list::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.scroll-list::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.scroll-list::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0 none #ffffff;
  border-radius: 46px;
}
.scroll-list::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
.scroll-list::-webkit-scrollbar-thumb:active {
  background: #ffffff;
}
.scroll-list::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0 none #ffffff;
  border-radius: 38px;
}
.scroll-list::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
.scroll-list::-webkit-scrollbar-track:active {
  background: #ffffff;
}
.scroll-list::-webkit-scrollbar-corner {
  background: transparent;
}

.scroll-other {
  overflow: scroll;
  height: 250px;
  width: 100%;
  padding-top: 10px;
}
.scroll-other::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.scroll-other::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.scroll-other::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0 none #ffffff;
  border-radius: 46px;
}
.scroll-other::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
.scroll-other::-webkit-scrollbar-thumb:active {
  background: #ffffff;
}
.scroll-other::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0 none #ffffff;
  border-radius: 38px;
}
.scroll-other::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
.scroll-other::-webkit-scrollbar-track:active {
  background: #ffffff;
}
.scroll-other::-webkit-scrollbar-corner {
  background: transparent;
}

.grid-rent {
  background-color: #3a7de3;
  border-radius: 2px 2px 0 2px;
  color: #fff;
  display: block;
  font-size: 9px;
  font-weight: bold;
  height: 18px;
  line-height: 18px;
  padding: 0 8px;
  position: absolute;
  right: -6px;
  top: -6px;
  text-align: center;
  text-transform: uppercase;
  z-index: 99999999;
}
.grid-rent:after {
  border: 3px solid transparent;
  border-left-color: #3a7de3;
  border-top-color: #3a7de3;
  bottom: -6px;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  right: 0;
  width: 0; }

.grid-sale {
  background-color: #ff0000;
  border-radius: 2px 2px 0 2px;
  color: #fff;
  display: block;
  font-size: 9px;
  font-weight: bold;
  height: 18px;
  line-height: 18px;
  padding: 0 8px;
  position: absolute;
  right: -6px;
  top: -6px;
  text-align: center;
  text-transform: uppercase;
  z-index: 99999999;
}
.grid-sale:after {
  border: 3px solid transparent;
  border-left-color: #ff0000;
  border-top-color: #ff0000;
  bottom: -6px;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  right: 0;
  width: 0;
}
.attribute {
  font-size: 10px;
}
.listing-box-agent-rx {
  border-radius: 2px 2px 0 0;
  display: block;
  margin: -1px -1px 0 -1px;
  height: 239px;
  overflow: hidden;
  position: relative;
}
.listing-box-image-rx {
  border-radius: 2px 2px 0 0;
  display: block;
  margin: -1px -1px 0 -1px;
  height: 149px;
  overflow: hidden;
  position: relative;
}
.listing-box-content-rx {
  position: relative;
  padding: 12px 40px 12px 0px;
}
.listing-box-content-rx h2{
  font-size: 14px;
}
.listing-box-rx {
  background-color: #fff;
  /*box-shadow: 0 1px 1px rgba(50, 50, 50, 0.12);*/
  border-radius: 2px;
  margin: 0 0 30px 0;
  position: relative;
}
.title-top-agent h3 {
  color:#FF0000;
  font-weight: bold;
}
.img-rx-agent {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-control.form-control-xl-rx {
  font-size: 14px;
  height: 30px;
  line-height: 44px;
  padding: 0 20px; }
.btn-xl-rx {
  height: 33px;
  font-size: 14px;
}
.warning-rx p{
  color: #ff0000;
  margin-top: 8px;
  font-size: 12px;
  font-style: italic;
}
@media (max-width: 768px){
  .x1 {
    padding: 0;
  }
  .block-list-rx {
    display: none;
  }
  .block-rx {
    display: block;
  }
}
@media (max-width: 1366px) {
  .no-pad {
    padding: 5px;
  }
}
@media (min-width: 800px) {
  .block-rx {
    display: none;
  }
}
.caret-desk-features {
  padding-right: 59px;
}
@media (min-width: 768px) and (max-width: 1367px) {
  .text-filter {
    font-size: 0.8vw;
    padding: 0;
  }
  .text-filter::-webkit-input-placeholder{
    font-size: 0.8vw;
  }
  .text-filter::-moz-placeholder{
    font-size: 0.8vw;
  }
  .text-filter::-webkit-input-placeholder{
    font-size: 0.8vw;
  }
  .text-filter::-moz-placeholder{
    font-size: 0.8vw;
  }
  .caret-desk {
    padding-right: 0;
  }
  .caret-desk-features {
    padding-right: 16px;
  }
  .bt-sm {
    padding: 0 0 1px 7px;
  }
}

@media (max-width: 1036px){
  .caret-desk {
    padding-right: 0px;
  }
  .caret-desk-features {
    padding-right: 4px;
  }
  .bt-sm {
    padding: 0 0 1px 7px;
  }
}
.no-pad-rxs {
  padding: 0;
}
.icon-image img{
  width: 10px;
  height:10px;
}
.control-form-rxs {
  padding: 8px 15px;
}
@media (max-width: 1367px) {
  .control-form-rxs {
    padding: 8px 4px;
  }
}
.kito .dropup,
.kito .dropdown {
  position: relative;
}
.kito .dropdown-toggle:focus {
  outline: 0;
}
.kito .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 0px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.kito .dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.kito .dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.kito .dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.kito .dropdown-menu > li > a:hover,
.kito .dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.kito .dropdown-menu > .active > a,
.kito .dropdown-menu > .active > a:hover,
.kito .dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
.kito .dropdown-menu > .disabled > a,
.kito .dropdown-menu > .disabled > a:hover,
.kito .dropdown-menu > .disabled > a:focus {
  color: #777;
}
.kito .dropdown-menu > .disabled > a:hover,
.kito .dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.kito .open > .dropdown-menu {
  display: block;
}
.kito .open > a {
  outline: 0;
}
.kito .dropdown-menu-right {
  right: 0;
  left: auto;
}
.kito .dropdown-menu-left {
  right: auto;
  left: 0;
}
.kito .dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777;
  white-space: nowrap;
}
.kito .dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}
.kito .pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.kito .dropup .caret,
.kito .navbar-fixed-bottom .dropdown .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
}
.kito .dropup .dropdown-menu,
.kito .navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}
@media (min-width: 768px) {
  .kito .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
  .kito .navbar-right .dropdown-menu-left {
    right: auto;
    left: 0;
  }
}

.kito .nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.kito .nav > li {
  position: relative;
  display: block;
}
.kito .nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.kito .nav > li > a:hover,
.kito .nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.kito .nav > li.disabled > a {
  color: #777;
}
.kito .nav > li.disabled > a:hover,
.kito .nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.kito .nav .open > a,
.kito .nav .open > a:hover,
.kito .nav .open > a:focus {
  background-color: #eee;
  border-color: #337ab7;
}
.kito .nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.kito .nav > li > a > img {
  max-width: none;
}
.kito .nav-tabs {
  border-bottom: 1px solid #ddd;
}
.kito .nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.kito .nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.kito .nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.kito .nav-tabs > li.active > a,
.kito .nav-tabs > li.active > a:hover,
.kito .nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.kito .nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.kito .nav-tabs.nav-justified > li {
  float: none;
}
.kito .nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.kito .nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .kito .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .kito .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.kito .nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.kito .nav-tabs.nav-justified > .active > a,
.kito .nav-tabs.nav-justified > .active > a:hover,
.kito .nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .kito .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .kito .nav-tabs.nav-justified > .active > a,
  .kito .nav-tabs.nav-justified > .active > a:hover,
  .kito .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
.kito .nav-pills > li {
  float: left;
}
.kito .nav-pills > li > a {
  border-radius: 4px;
}
.kito .nav-pills > li + li {
  margin-left: 2px;
}
.kito .nav-pills > li.active > a,
.kito .nav-pills > li.active > a:hover,
.kito .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #337ab7;
}
.kito .nav-stacked > li {
  float: none;
}
.kito .nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}
.kito .nav-justified {
  width: 100%;
}
.kito .nav-justified > li {
  float: none;
}
.kito .nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.kito .nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .kito .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .kito .nav-justified > li > a {
    margin-bottom: 0;
  }
}
.kito .nav-tabs-justified {
  border-bottom: 0;
}
.kito .nav-tabs-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.kito .nav-tabs-justified > .active > a,
.kito .nav-tabs-justified > .active > a:hover,
.kito .nav-tabs-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .kito .nav-tabs-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .kito .nav-tabs-justified > .active > a,
  .kito .nav-tabs-justified > .active > a:hover,
  .kito .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
.kito .tab-content > .tab-pane {
  display: none;
}
.kito .tab-content > .active {
  display: block;
}
.kito .nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.kito .navbar {
  position: relative;
  min-height: 50px;
  /*margin-bottom: 20px;*/
  border: 1px solid transparent;
}
@media (min-width: 768px) {
  .kito .navbar {
    border-radius: 4px;
  }
}
@media (min-width: 768px) {
  .kito .navbar-header {
    float: left;
  }
}
.kito .navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}
.kito .navbar-collapse.in {
  overflow-y: auto;
}
@media (min-width: 768px) {
  .kito .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .kito .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .kito .navbar-collapse.in {
    overflow-y: visible;
  }
  .kito .navbar-fixed-top .navbar-collapse,
  .kito .navbar-static-top .navbar-collapse,
  .kito .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}
.kito.navbar-fixed-top .navbar-collapse,
.kito .navbar-fixed-bottom .navbar-collapse {
  max-height: 340px;
}
@media (max-device-width: 768px) and (orientation: landscape) {
  .kito .navbar-fixed-top .navbar-collapse,
  .kito .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px;
  }
}
.kito .container > .navbar-header,
.kito .container-fluid > .navbar-header,
.kito .container > .navbar-collapse,
.kito .container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .kito .container > .navbar-header,
  .kito .container-fluid > .navbar-header,
  .kito .container > .navbar-collapse,
  .kito .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
.kito .navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px;
}
@media (min-width: 768px) {
  .kito .navbar-static-top {
    border-radius: 0;
  }
}
.kito .navbar-fixed-top,
.kito .navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
@media (min-width: 768px) {
  .kito .navbar-fixed-top,
  .kito .navbar-fixed-bottom {
    border-radius: 0;
  }
}
.kito .navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.kito .navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}
.kito .navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.kito .navbar-brand:hover,
.kito .navbar-brand:focus {
  text-decoration: none;
}
.kito .navbar-brand > img {
  display: block;
}
@media (min-width: 768px) {
  .kito .navbar > .container .navbar-brand,
  .kito .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}
.kito .navbar-toggle {
  position: relative;
  /*float: right;*/
  padding: 0;
  /*margin-top: 8px;*/
  margin-right: 15px;
  /*margin-bottom: 8px;*/
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
}
.kito .navbar-toggle:focus {
  outline: 0;
}
.kito .navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.kito .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
@media (min-width: 768px) {
  .kito .navbar-toggle {
    display: none;
  }
}
.kito .navbar-nav {
  margin: 7.5px -15px;
}
.kito .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (max-width: 768px) {
  .kito .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .kito .navbar-nav .open .dropdown-menu > li > a,
  .kito .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .kito .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .kito .navbar-nav .open .dropdown-menu > li > a:hover,
  .kito .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .kito .navbar-nav {
    float: left;
    margin: 0;
  }
  .kito .navbar-nav > li {
    float: left;
  }
  .kito .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.kito .navbar-form {
  padding: 10px 15px;
  margin-top: 8px;
  margin-right: -15px;
  margin-bottom: 8px;
  margin-left: -15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
}
@media (min-width: 768px) {
  .kito .navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .kito .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .kito .navbar-form .form-control-static {
    display: inline-block;
  }
  .kito .navbar-form .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .kito .navbar-form .input-group .input-group-addon,
  .kito .navbar-form .input-group .input-group-btn,
  .kito .navbar-form .input-group .form-control {
    width: auto;
  }
  .kito .navbar-form .input-group > .form-control {
    width: 100%;
  }
  .kito .navbar-form .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .kito .navbar-form .radio,
  .kito .navbar-form .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .kito .navbar-form .radio label,
  .kito .navbar-form .checkbox label {
    padding-left: 0;
  }
  .kito .navbar-form .radio input[type="radio"],
  .kito .navbar-form .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .kito .navbar-form .has-feedback .form-control-feedback {
    top: 0;
  }
}
@media (max-width: 768px) {
  .kito .navbar-form .form-group {
    margin-bottom: 5px;
  }
  .kito .navbar-form .form-group:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .kito .navbar-form {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
.kito .navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.kito .navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  margin-bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.kito .navbar-btn {
  margin-top: 8px;
  margin-bottom: 8px;
}
.kito .navbar-btn.btn-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}
.kito .navbar-btn.btn-xs {
  margin-top: 14px;
  margin-bottom: 14px;
}
.kito .navbar-text {
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .kito .navbar-text {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
  }
}
@media (min-width: 768px) {
  .kito .navbar-left {
    float: left !important;
  }
  .kito .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
  .kito .navbar-right ~ .kito .navbar-right {
    margin-right: 0;
  }
}
.kito .navbar-default {
  background-color: #ffffff;

}
.kito .navbar-default .navbar-brand {
  color: #777;
  margin-left: 20px;
}
.kito .navbar-default .navbar-brand:hover,
.kito .navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.kito .navbar-default .navbar-text {
  color: #777;
}
.kito .navbar-default .navbar-nav > li > a {
  color: #000000;
}
.kito .navbar-default .navbar-nav > li > a:hover,
.kito .navbar-default .navbar-nav > li > a:focus {
  color: #000000;
  background-color: transparent;
}
.kito .navbar-default .navbar-nav > .active > a,
.kito .navbar-default .navbar-nav > .active > a:hover,
.kito .navbar-default .navbar-nav > .active > a:focus {
  color: #1274bd;
  background-color: transparent;
}
.kito .navbar-default .navbar-nav > .disabled > a,
.kito .navbar-default .navbar-nav > .disabled > a:hover,
.kito .navbar-default .navbar-nav > .disabled > a:focus {
  color: #000000;
  background-color: transparent;
}
.kito .navbar-default .navbar-toggle {
  border-color: #ddd;
}
.kito .navbar-default .navbar-toggle:hover,
.kito .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.kito .navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.kito .navbar-default .navbar-collapse,
.kito .navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.kito .navbar-default .navbar-nav > .open > a,
.kito .navbar-default .navbar-nav > .open > a:hover,
.kito .navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #e7e7e7;
}
@media (max-width: 768px) {
  .kito .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .kito .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .kito .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
    background-color: transparent;
  }
  .kito .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .kito .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .kito .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #1274bd;
    background-color: transparent;
  }
  .kito .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .kito .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .kito .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #000000;
    background-color: transparent;
  }
}
.kito .navbar-default .navbar-link {
  color: #777;
}
.kito .navbar-default .navbar-link:hover {
  color: #333;
}
.kito .navbar-default .btn-link {
  color: #777;
}
.kito .navbar-default .btn-link:hover,
.kito .navbar-default .btn-link:focus {
  color: #333;
}
.kito .navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.kito .navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #ccc;
}
.kito .navbar-inverse {
  background-color: #222;
  border-color: #080808;
}
.kito .navbar-inverse .navbar-brand {
  color: #9d9d9d;
}
.kito .navbar-inverse .navbar-brand:hover,
.kito .navbar-inverse .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.kito .navbar-inverse .navbar-text {
  color: #9d9d9d;
}
.kito .navbar-inverse .navbar-nav > li > a {
  color: #9d9d9d;
}
.kito .navbar-inverse .navbar-nav > li > a:hover,
.kito .navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.kito .navbar-inverse .navbar-nav > .active > a,
.kito .navbar-inverse .navbar-nav > .active > a:hover,
.kito .navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #080808;
}
.kito .navbar-inverse .navbar-nav > .disabled > a,
.kito .navbar-inverse .navbar-nav > .disabled > a:hover,
.kito .navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.kito .navbar-inverse .navbar-toggle {
  border-color: #333;
}
.kito .navbar-inverse .navbar-toggle:hover,
.kito .navbar-inverse .navbar-toggle:focus {
  background-color: #333;
}
.kito .navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}
.kito .navbar-inverse .navbar-collapse,
.kito .navbar-inverse .navbar-form {
  border-color: #101010;
}
.kito .navbar-inverse .navbar-nav > .open > a,
.kito .navbar-inverse .navbar-nav > .open > a:hover,
.kito .navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #080808;
}
@media only screen and (max-width: 768px) {
  .kito .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .kito .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .kito .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .kito .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .kito .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .kito .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .kito .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .kito .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808;
  }
  .kito .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .kito .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .kito .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
  .agents-item {
    width: 100%;
  }
  .listing-box-image-rx {
    border-radius: 2px 2px 0 0;
    display: block;
    margin: -1px -1px 0 -1px;
    height: 388px;
    overflow: hidden;
    position: relative;
  }
  .listing-box-agent-rx {
    border-radius: 2px 2px 0 0;
    display: block;
    margin: -1px -1px 0 -1px;
    height: 388px;
    overflow: hidden;
    position: relative;
  }
}
@media only screen and (min-width: 470px) and (max-width: 765px) {
  .listing-box-agent-rx {
    border-radius: 2px 2px 0 0;
    display: block;
    margin: -1px -1px 0 -1px;
    height: 450px;
    overflow: hidden;
    position: relative;
  }
  .listing-box-image-rx {
    border-radius: 2px 2px 0 0;
    display: block;
    margin: -1px -1px 0 -1px;
    height: 450px;
    overflow: hidden;
    position: relative;
  }
}
@media only screen and (min-width: 769px) and (max-width: 810px) {
  .listing-box-agent-rx {
    border-radius: 2px 2px 0 0;
    display: block;
    margin: -1px -1px 0 -1px;
    height: 371px;
    overflow: hidden;
    position: relative;
  }
  .listing-box-image-rx {
    border-radius: 2px 2px 0 0;
    display: block;
    margin: -1px -1px 0 -1px;
    height: 361px;
    overflow: hidden;
    position: relative;
  }
}
.kito .navbar-inverse .navbar-link {
  color: #9d9d9d;
}
.kito .navbar-inverse .navbar-link:hover {
  color: #fff;
}
.kito .navbar-inverse .btn-link {
  color: #9d9d9d;
}
.kito .navbar-inverse .btn-link:hover,
.kito .navbar-inverse .btn-link:focus {
  color: #fff;
}
.kito .navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.kito .navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #444;
}
.price-grid {
  font-size: 22px;
  font-weight: bold;
  color: #ff0000;
}
.modal-header-rx {
  padding: 43px 0 0 0;
}
.modal-header-rx h3{
  text-align: center;
  font-size: 27px;
}
.modal-header-rx h6{
  text-align: center;
  font-size: 15px;
}
.price-listNews {
  color: red;
  font-weight: bold;
  font-size: 15px;
}
.features-rx {
  padding: 18px;
}
.circle {
  width: 160px;
  height: 160px;
  /*-moz-border-radius: 100px;*/
  /*-webkit-border-radius: 100px;*/
  /*border-radius: 100px;*/
  float: left;
  overflow: hidden;
  margin-top: 10px;
}
.circle-agent1 {
  width: 156px;
  height: 158px;
  /*-moz-border-radius: 100px;*/
  /*-webkit-border-radius: 100px;*/
  /*border-radius: 100px;*/
  background-image:url('/static/assets/img/icon/icon-1.png') ;
  margin: auto;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
}
.circle-agent2 {
  width: 156px;
  height: 158px;
  /*-moz-border-radius: 100px;*/
  /*-webkit-border-radius: 100px;*/
  /*border-radius: 100px;*/
  background-image:url('/static/assets/img/icon/icon-2.png') ;
  margin: auto;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
}
.circle-agent3 {
  width: 156px;
  height: 158px;
  /*-moz-border-radius: 100px;*/
  /*-webkit-border-radius: 100px;*/
  /*border-radius: 100px;*/
  background-image:url('/static/assets/img/icon/icon-3.png') ;
  margin: auto;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
}
.circle-agent4 {
  width: 156px;
  height: 158px;
  /*-moz-border-radius: 100px;*/
  /*-webkit-border-radius: 100px;*/
  /*border-radius: 100px;*/
  background-image:url('/static/assets/img/icon/icon-4.png') ;
  margin: auto;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
}
.align-center {
  text-align: center;
}
@media only screen and (min-width: 1120px) {
  .content-main-agent h2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 50px;
    font-size: 25px;
    /* font-weight: 700; */
    letter-spacing: 1px;
    line-height: 1.5em;
    font-family: 'Montserrat', sans-serif;
  }
}
.content-main-agent .bottom-agent {
  text-align: center;
  font-size: 18px;
  font-weight: 800;
}
.share-rx {
  padding: 0 0 18px 0px;
}
.share-rx span {
  padding: 0px;
}
.tag-rx {
  /*background-color: #eee;*/
  /*border-radius: 2px;*/
  /*box-shadow: 0 1px 1px rgba(50, 50, 50, 0.3);*/
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 10px 0;
  padding: 4px 0;
  text-transform: uppercase;
  vertical-align: top;
}
.as {
  padding: 0;
}
.listing-row-medium-image-rx {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 2px;
  display: block;
  float: left;
  height: 62px;
  margin: 0 14px 0 0;
  position: relative;
  width: 62px; }
  .listing-row-medium-image-rx:after {
    background-color: rgba(50, 50, 50, 0.25);
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0; 
  }
.button-agents {
  background-color: #0f8be3;
  border: 0;
  border-radius: 2px;
  box-shadow: 0;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  line-height: 35px;
  padding: 0 16px;
  text-shadow: none;
}
.button-agents:hover {
  background-color: #ff0000;
  border: 0;
  border-radius: 2px;
  box-shadow: 0;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  line-height: 35px;
  padding: 0 16px;
  text-shadow: none;
}
.grid-ps {
  position: relative;
}
.infoWindow-rx {
  width: 104px;
  height: 104px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.infoWindow-rx p {
  font-color: #ff0000
}
.styled-checkbox {
  position: absolute;
  opacity: 0;
  
  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
  }

  &:hover + label:before {
    background: #f35429;
  }
  
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  &:checked + label:before {
    background: #f35429;
  }
  
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }


  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  &:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 
      2px 0 0 white,
      4px 0 0 white,
      4px -2px 0 white,
      4px -4px 0 white,
      4px -6px 0 white,
      4px -8px 0 white;
    transform: rotate(45deg);
  }
}